
    <div class="register-validation-admin-form">
          <form action="/register-validation-admin-form" method="post" class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" name='email' id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="col-12">
                Name
                <input class="form-control" name='name' type="text" placeholder="name" aria-label=".form-control-lg example">  
                </div>
           
          
            <div class="col-12">
              <label for="inlineFormSelectPref">admin</label>
              <select id="opcoes" name="opcao">
                    <option value="1">True</option>
                    <option value="2">False </option>
                </select>
            </div>    
          
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-12">
                <a href="/admin-features"><button type="button" class="btn btn-primary">Cancel</button></a>
              </div>         
          </form>
    </div>