<form action="/register-validation-admin-form" method="POST" class="row g-3">
<div class="panel">
    <div class="container   px-4 text-center">
        <div class="row g-3">
         
            <div class="col-6">
                <div class="p-3">
                    
                    <button type="button" class="btn btn-success">
                        <a class="text-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                            href="/admin-features/add-user"> Add User</a></button>                
                </div>
                
            </div>


            <div class="col-6">
                <div class="p-3">
                    <button type="button" class="btn btn-success">
                        <a class="text-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                            href="/admin-features/search-user"> Search User</a></button>
                </div>
            </div>
            
            <div class="row g-3">
            
                <div class="col-6">
                    <div class="p-3">
                        <button type="button" class="btn btn-success">
                            <a class="text-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                href="../add-post"> New Post</a></button>
                    </div>
                </div>

                <div class="col-6">
                    <div class="p-3">
                        <button type="button" class="btn btn-success">
                            <a class="text-white link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                href="admin-features/admin-post"> All Posts</a></button>
                    </div>
                </div>

</div>
